@media (max-width:700px) {
    .navigation_list {
        flex-direction: column;
    }
}

@media (max-width:700px) {
    #header {
        flex-direction: column;
    }
    .logo {
        margin-top: 10px;
    }
    .navigation_list {
        margin-bottom: 10px;
    }
    #prod-subs {
        margin-top: 140px;
    }
    .left-icon {
        display: none;
    }
    .feature-wrapper {
        justify-content: center;
    }
    .right-description h1 {
        margin: auto;
    }
    .right-description p {
        text-align: justify;
        margin-bottom: 10px;
    }
    #pricing {
        flex-direction: column;
    }
    .prod-details {
        width: 100%;
    }
}

@media (max-width:425px) {
    #email {
        width: 80%;
    }
}

@media (max-width:350px) {
    .right-description h1 {
        margin-top: 10px;
    }
    .right-description p {
        text-align: justify;
        margin-bottom: 50px;
    }
}